.side
{
    background-color:#4169E1;
    border-style:ridge;
border-radius: 8px;
    height:100%;
    width:26%;
    margin-top:0%;
    margin-bottom: 0%;
    
}
.img
{
     border-radius: 50% 50% 50% 50%;
    height: 100px;
    width:100px;
    margin-left: 33%;
    margin-top: 12%;
     border:2px solid #3454B4;
}
.descr
{
    margin-left: 20%;
    margin-top: 3%;
color:white;
    font-size:1.8em;
    position: relative;
}
.web
{
    color:white;
    font-size: 1.2em;
    margin-left: 31%;
    margin-top: 2%;
}
.icons
{
    margin-top: 15%;
    margin-left: 30%;
}
.dots
{
    color:white;
    margin-left: 35%;
    margin-top: 10%;
}
.rightblock
{
    margin-left: 1%;
    margin-top:0%;

}
.container-fluid
{
    margin-left: 37%;
    color:#4169E1;
    margin-top: -43%;
    font-family: corbel;
    font-size: 35px;
}
.latest
    {
        margin-left:34%;
        margin-top:2%;
        font-family:Myriad pro;
        font-size:20px;
    }
.qq
{
    margin-left: 34%;
    margin-top: 2%;
    font-family: Myriad pro;
    color:#4169E1;
    font-size: 1.9em;
}
.subqq
{
    color:#4169E1;
    margin-left:37%;

}
.qq1
{
    margin-left: 34%;
    color:#4169E1;
     font-size: 1.9em;
    font-family: Myriad pro;
    margin-top:3%;
}
.subqq1
{
    color:#4169E1;
    margin-left:37%;

}
.qq2
{
    margin-left: 34%;
    color:#4169E1;
     font-size: 1.9em;
    font-family: Myriad pro;
    margin-top:3%;
}
.subqq2
{
    color:#4169E1;
    margin-left:37%;
}
.star
{
    margin-left: 58%;
    margin-top: 4%;
    
}
.phone
{
   margin-left: 75%;
    margin-top: 1.5%;
    color:#4169E1;
    position:absolute;
}
.gallery
{
    margin-left: 50%;
    margin-top: -30%;
    font-family:Myriad pro;
    color:#4169E1;
    font-size: 35px;
}
.myself
{
    margin-left: 28%;
    margin-top: -33%;
    font-size: 1.5em;
    font-family: Myriad pro;
}
.abtme
{
    margin-top: -43%;
        margin-left: 53%;
    position: absolute;
    font-size: 2.4em;
    color:#4169E1;
    font-family:Myriad pro;
}
    .q1
{
    margin-top: -44%;
    margin-left: 34%;
    font-family: Myriad pro;
     font-size: 2em;
     color:#4169E1;
}
.qimg
{
    margin-left: 32%;
    height:350px;
    width:400px;
}
.ans1
{
      margin-left: 28%;
    margin-top: -1%;
    font-size: 1.5em;
    font-family: Myriad pro;
}
.ansq2
{
    margin-left: 30%;
}
@media (max-width:600px)
{
.side
{
    width:100%;
    height: 145%;
}
    .rightblock
    {
    margin-top: 3%;
        position:absolute;
    }
    .container-fluid
    {
        margin-left: 0%;
        margin-top: 0%;
        font-size: 20px;
    }
    .latest
    {
         margin-left: 20%;
        margin-top: 3%;
        font-size: 15px;
    }
    .qq
    {
        font-size:1.4em;
        margin-left: 10%;
    }
    .subqq
    {
        margin-left: 10%;
    }
    .qq1
    {
        margin-left:10%;
        font-size: 1.4em;
    }
    .subqq1
    {
        margin-left:10%;
    }
     .qq2
    {
        margin-left:10%;
        font-size: 1.4em;
    }
    .subqq2
    {
        margin-left:10%;
    }
    .phone
    {
        margin-left: 0%;
    }
    .myself
    {
         margin-left: 2%;
    margin-top: 16%;
    font-size: 1em;
    }
    .abtme
    {
         margin-top: 2%;
        margin-left: 25%;
    font-size: 1.2em;
    }
    .star
    {
       
    margin-left: 35%;
    margin-top: 4%;
    }
    .gallery
    {
         margin-left: 15%;
    margin-top: 35%;
        font-size: 1.4em;
        padding:15%;
    }
    .q1
    {
         margin-left: 2%;
    margin-top: 2%;
        font-size: 1.2em;
    }   
    .qimg
    {
        margin-left: 10%;
        width:200px;
        height: 150px;
    }
    .ans1
    {
         margin-top: 2%;
        margin-left: 1%;
    font-size: 1.2em;
    }
    .ansq2
{
    margin-left: 10%;
    font-size: 1em;
}
        
}
        
