<html ng-app="myApp">
  <head>
       <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>  
      <link rel="stylesheet" href="style/main.css">
  </head>

  <body ng-controller="MyController">
    <div class="container">
      <h1>Welcome Guest :)</h1>
        <h4>Enter your crediantials.</h4>

      <form role="form" novalidate>
          <div class="form-group">
        <label for="nameInput">Entry-No:</label>
        <input ng-model="entry" type="text" id="nameInput" placeholder="Enter Your Entry-number" class="form-control">
           <label>Subject:</label>
             <input ng-model="sub" type="text" id="subjectInput" placeholder="Enter your open elective subject" class="form-control">

      </div>
          <input type="submit" ng-click="addMessage($event)" value="Submit" class="btn btn-info" onclick="myfunction()">
        </form>
    </div>
      <script>function myfunction()
{
      confirm("Submit it ?");
}</script>

    <script src="js/app.js"></script>
      <script src="js/main.js"></script>
  </body>
</html>
 

    