<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1" />
	<link rel="shortcut icon" href="/img/faviconn.png"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    
    <title>Todo App</title>
</head>
    <body>
        
    <div ng-app="MyApp">
  <h2 align="center">Todo</h2>
  <div ng-controller="TodoCtrl" class="container">
    <form ng-submit="addTodo()" class="form-group" role="form">
      <input  style="height:50px;" type="text" ng-model="todoText" class="form-control"
             placeholder="What needs to be done ?">
        <br>
        <p align="center"><input type="submit" class="btn btn-info" value="add"></p>
    </form>
      <div class="list-group">
    <ol>
      <li ng-repeat="todo in todos" class="list-group-item">
              <div class="todo"> <input type="checkbox" ng-model="todo.done">  {{ todo.text }} </div>
      </li>
    </ol>
           <div class="list-group-item" style="text-align:center;">{{remaining()}} of {{todos.length}} items left</br>
               <a href="" ng-click="archive()">Clear completed items</a></div>
      </div>
  </div>
</div>
    <h4 align="center">Here is the link to the <a href="https://github.com/mbj36/To-do-List">Github <i class="fa fa-github"></i></a> repository.</br>
Feel free to create a PR. 
</h4>

    <script src="js/app.js"></script>
</body>
</html>